<h4>Ride Administration Page</h4>
<div>
<md-button  ng-click="controller.createRide()" class="ride-button md-raised md-primary">&nbsp Add a Ride &nbsp</md-button>
</div>
<div>
    <table>
        <tr ng-repeat="ride in controller.rides">
        <td ng-if="$odd" style="background-color:#f1f1f1">{{ ride.startDate | date : 'MM/dd/yyyy @ h:mma'}}</td>
        <td ng-if="$even">{{ ride.startDate | date : 'MM/dd/yyyy @ h:mma' }}</td>
        <td ng-if="$odd" style="background-color:#f1f1f1">{{ ride.rideName }}</td>
        <td ng-if="$even">{{ ride.rideName }}</td>
        <td><md-button ng-click="controller.editRide(ride.id)" class="rider-button  md-primary">&nbsp Edit &nbsp</md-button></td>
        <td><md-button ng-click="controller.deleteRide(ride.id)" class="rider-button  md-primary">&nbsp Delete &nbsp</md-button></td>
        <td><md-button ng-click="controller.detailRide(ride.id)" class="rider-button  md-primary">&nbsp Details &nbsp</md-button></td>
        </tr>
    </table>
</div>
<!--
<div class = "ride-Admin" ng-repeat="ride in controller.rides" ng-cloak>
    {{ride.startDate}} : {{ ride.rideName}}
   <md-button  ng-click="controller.editRide(ride.id)" class="ride-button md-raised md-primary">&nbsp Edit &nbsp</md-button>
   <md-button  ng-click="controller.deleteRide(ride.id)" class="ride-button md-raised md-primary">&nbsp Delete &nbsp</md-button>
   <md-button  ng-click="controller.detailRide(ride.id)" class="ride-button md-raised md-primary">&nbsp Detail &nbsp</md-button>
</div>
-->

<a ui-sref="Admin" class="btn btn-link">Riders</a>
<a ui-sref="Profile" class="btn btn-link">Back to Profile</a>