<div id="popupContainer" ng-cloak>
<h2>Rider Administration Page</h2>
<div>
<md-button ng-click="controller.createRider()" class="rider-button md-raised md-primary">&nbsp Add a Rider &nbsp</md-button>
</div>
<div>
<table>
    <md-input-container>
        <md-icon style="color: blue">search</md-icon>
        <input class="search-bar" ng-model="search" ng-model-options="{debounce:1000}" ng-change="fetch()" placeholder="Search" width = "60"/>
    </md-input-container>
    <tr ng-repeat="rider in controller.riders | filter : search">
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ rider.userName }}</td>
    <td ng-if="$even">{{ rider.userName }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ rider.lastName }}</td>
    <td ng-if="$even">{{ rider.lastName }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ rider.firstName }}</td>
    <td ng-if="$even">{{ rider.firstName }}</td>
    <td class="rider-td">
        <md-button ng-click="controller.detailRider(rider.id)" class="rider-button md-icon-button" aria-label="Details">
                <md-tooltip md-direction="top">Rider Details</md-tooltip>
                <md-icon style="display: unset; color:deepskyblue"><i class="material-icons">details</i></md-icon>
        </md-button>
    </td>
    <td class="ride-td">
        <md-button ng-click="controller.editRider(rider.id)" class="rider-button  md-icon-button" aria-label="Edit">
            <md-tooltip md-direction="top">Edit Rider</md-tooltip>
            <md-icon style="display: unset; color:blueviolet"><i class="material-icons">edit</i></md-icon>
        </md-button>
    </td>
    <td class="rider-td">
        <md-button ng-click="controller.deleteRider(rider.id)" class="rider-button  md-icon-button"aria-label="Delete">
            <md-tooltip md-direction="top">Delete Rider</md-tooltip>
            <md-icon style="display: unset; color:red"><i class="material-icons">remove_circle</i></md-icon>
        </md-button>
    </td>
    </tr>
</table>
</div>
<a ui-sref="AdminRides" class="btn btn-link"><md-button class="md-primary md-flat">&nbsp Go to Ride Admin &nbsp</md-button></a>
<a ui-sref="Profile" class="btn btn-link"><md-button class="md-primary md-flat">&nbsp Back to Profile &nbsp</md-button></a>
</div>