<h2>Rider Administration Page</h2>
<div>
<md-button ng-click="controller.createRider()" class="rider-button md-raised md-primary">&nbsp Add a Rider &nbsp</md-button>
</div>
<div>
<table>
    <tr ng-repeat="rider in controller.riders">
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ rider.userName }}</td>
    <td ng-if="$even">{{ rider.userName }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ rider.lastName }}</td>
    <td ng-if="$even">{{ rider.lastName }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ rider.firstName }}</td>
    <td ng-if="$even">{{ rider.firstName }}</td>
    <td><md-button  ng-click="controller.editRider(rider.id)" class="rider-button md-primary">&nbsp Edit &nbsp</md-button></td>
    <td><md-button ng-click="controller.deleteRider(rider.id)" class="rider-button md-primary">&nbsp Delete &nbsp</md-button></td>
    <td><md-button  ng-click="controller.detailRider(rider.id)" class="rider-button md-primary">&nbsp Details &nbsp</md-button></td>
    </tr>
</table>
</div>
    
<!--
<div class = "rider" ng-repeat="rider in controller.riders" ng-cloak>
     {{ rider.fullName}}
    <md-button  ng-click="controller.editRider(rider.id)" class="rider-button md-raised md-primary">&nbsp Edit &nbsp</md-button>
    <md-button  ng-click="controller.deleteRider(rider.id)" class="rider-button md-raised md-primary">&nbsp Delete &nbsp</md-button>
    <md-button  ng-click="controller.detailRider(rider.id)" class="rider-button md-raised md-primary">&nbsp Details &nbsp</md-button>
</div>
-->

<a ui-sref="AdminRides" class="btn btn-link">Rides</a>
<a ui-sref="Profile" class="btn btn-link">Back to Profile</a>
