<md-content ng-app="RiderTracker" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="register-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>Enter the Following Ride Information</span></h2>
        </div>
        </md-toolbar>
          <md-card-content>
            <form name="Form">
              <md-input-container class="md-block">
                <label>Ride Name</label>
                <md-tooltip>Enter a ride name up to 30 characters</md-tooltip>
                <input type="text" name="ridename" ng-model="controller.rideName"  placeholder="Ride Name" required="" md-maxlength="30"/>
                <div ng-messages="Form.ridename.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter a ride name.</div>
                    <div ng-message="md-maxlength" class="my-message">Ride name is too long.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Description</label>
                <md-tooltip>Enter ride description up to 80 characters</md-tooltip>
                <input type="text" name="description" ng-model="controller.description" placeholder="Ride Description - include location, terrain, ride type" required="" md-maxlength="80"/>
                <div ng-messages="Form.description.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter a short description.</div>
                    <div ng-message="md-maxlength" class="my-message">Description is too long.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Distance</label>
                <md-tooltip>Enter a ride distance in miles</md-tooltip>
                <input type="number" name="distance" ng-model="controller.distance"  required="" />
                <div ng-messages="Form.emailaddress.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter the ride distance in miles</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                  <label>Ride Date</label>
                  <md-datepicker name="startdate" ng-model="controller.dateInput" md-placeholder="Enter a ride date" required=""
                    md-min-date="controller.today" ></md-datepicker>
                  <div ng-messages="Form.startdate.$error" role="alert" multiple="">
                      <div ng-message="required" class="my-message">Please select a date this ride.</div>
                  </div>
              </md-input-container>
              <md-input-container class="md-block">
                  <label>Start Time hh:mm AM/PM</label>
                  <input type="time" name="starttime" ng-model="controller.timeInput" required="" />
                  <div ng-messages="Form.starttime.$error" role="alert" multiple="">
                      <div ng-message="required" class="my-message">Please select a start time this ride.</div>
                      <div ng-message="time" class="my-message">Enter a valid time</div>
                  </div>
              </md-input-container>
              <!--
              <md-input-container class="md-block">
                <label>Date/Time</label>
                <input type="datetime" name="startdate" ng-model="controller.startDate"  required="" />
                <div ng-messages="Form.startdate.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter a date and time for this ride.</div>
                </div>
                </md-input-container>
              -->
                <div>
                  <md-button ng-disabled="Form.$invalid && Form.$pristine" ng-click="controller.addRide()" class="md-raised md-primary">&nbsp Add Ride &nbsp</md-button>
                  <md-button ng-click="controller.goBackToParentView()" class="ride-button">&nbsp Cancel &nbsp</md-button>
                </div>
            </form>
            <p class="form-error-msg">{{controller.message}}</p>
          </md-card-content>
        </md-card>
      </md-content>
