<h5>Riders I am following</h5>
<br>
<table ng-if="controller.followings.length > 0" class="following-table">
    <tr>
        <th class="following-th">Full Name</th>
        <th class="following-th">User Name</th>
    </tr>
    <tr ng-repeat="f in controller.followings">
    <td class="following-td" ng-if="$odd" style="background-color:#f1f1f1">{{ f.fullName}}</td>
    <td class="following-td" ng-if="$even">{{ f.fullName}}</td>
    <td class="following-td" ng-if="$odd" style="background-color:#f1f1f1">{{ f.userName }}</td>
    <td class="following-td" ng-if="$even">{{ f.userName }}</td>
    <td class="following-td"><md-button ng-click="controller.locate(f.riderId)" class="rider-button md-primary md-raised">&nbsp Locate &nbsp</md-button></td>
    <td class="following-td"><md-button ng-click="controller.removeFollowing(f.riderId)" class="rider-button md-primary md-raised">&nbsp Stop Following &nbsp</md-button></td>
    </tr>
</table>
<p ng-if="controller.followings.length == 0">None</p>
<br>
<a ui-sref="FollowRequest" class="btn btn-link"><md-button class="md-primary md-raised">Follow Riders</md-button></a>
<a ui-sref="Follower" class="btn btn-link"><md-button class="md-primary md-raised">Following Me</md-button></a>
<a ui-sref="HomeLoggedIn" class="btn btn-link"><md-button>Back</md-button></a>
