<h2>Create Follow Requests</h2>
<p>
    Select a rider from the table to follow:
</p>
<table class="following-table">
        <tr>
            <th class="following-th">Full Name</th>
            <th class="following-th">User Name</th>
        </tr>
        <tr ng-repeat="f in controller.following">
        <td class="following-td" ng-if="$odd" style="background-color:#f1f1f1">{{ f.fullName}}</td>
        <td class="following-td" ng-if="$even">{{ f.fullName}}</td>
        <td class="following-td" ng-if="$odd" style="background-color:#f1f1f1">{{ f.userName }}</td>
        <td class="following-td" ng-if="$even">{{ f.username }}</td>
        <td class="following-td"><md-button ng-click="controller.deleteFollow(f.followId)" class="rider-button md-primary md-raised">&nbsp Follow &nbsp</md-button></td>
        </tr>
    </table>
<br>
<a ui-sref="Following" class="btn btn-link"><md-button class="md-primary md-raised">Back to Following</md-button></a>
