<h2>RiderTracker</h2>

<p>Rider Tracker is an application that allows cyclist to join specific rides
    and be able to have other participants of the ride be able to locate them in the event that they get lost.
    It also allows you to locate other riders in the event that you lose the group.
    This feature is useful when riding very large group ride or events where you may potentially lost someone and 
    need to figure out whre on the route they are so that you can regroup.  This feature is alos useful for a ride leader 
    to be sure that riders on the ride have not become lost. Alsmot like having a virtual ride sweeper.  
</p>
<p>
    In addition ride tracker will allow your non cycling friends to be able to locae where you are (if you allow them permission).
    For example, if you should require someone to come pick yiu up due to a mechanical 
    failure, your friend can identify exactly where you are on a map.
</p>
<p>
    As a ride tracker user, you will be able to schedule rides pf your own for other riders to sign up for and meet you.
    A little bit like existing Meetup websites but allows any rider to be able to host a ride.
</p>
<p>
    In addition, Ride tracker allows you to be tracked on non group rides by your allowed followers. So if you go out on a solo ride some afternoon
    your followers can identify exactly where you are.  Making sure that your safe
    and OK.  this is sometimes referred to as the "Is My husband Dead" feature.
    Other Ride Tracker users can request to follow you.  You may allow or deny this ability to a user.  
    You may also be able to request to follow other riders.
</p>
<p>
    You can use the link below to register got RiderTracker.  You will be asked to create a user name as well as provide your
    name, address, and telephone number.
</p>
<p>
    Future releases of ride tracker will include:
</p>
<ul>
    <li>Ability to locate nearby water or restroom facilities</li>
    <li>Provide current weather conditions for the area that you presently riding</li>
    <li>Allow for ride maps to be included within a ride posting</li>
    <li>Allow for Instant messaging to all ridrs or a specific rider on your group ride</li>
</ul>
<a ui-sref="Register" class="btn btn-link">Register</a>
