<div id="popupContainer" ng-cloak>
    <md-content ng-app="RiderTracker" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="register-form">
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
            <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Profile for {{controller.username}}</span></h2>
            </div>
            </md-toolbar>
            <md-card-content>
                <form name="Form">
                    <md-input-container class="md-block">
                    <label>First Name</label>
                    <md-tooltip>Enter first name up to 30 characters</md-tooltip>
                    <input type="text" name="firstname" ng-model="controller.firstname"  required="" md-maxlength="30"/>
                    <div ng-messages="Form.firstname.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Please enter your first name.</div>
                        <div ng-message="md-maxlength" class="my-message">First name is too long.</div>
                    </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                    <label>Last Name</label>
                    <md-tooltip>Enter last name up to 30 characters</md-tooltip>
                    <input type="text" name="lastname" ng-model="controller.lastname"  required="" md-maxlength="30"/>
                    <div ng-messages="Form.lastname.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Please enter your last name.</div>
                        <div ng-message="md-maxlength" class="my-message">Last name is too long.</div>
                    </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                    <label>Email Address</label>
                    <md-tooltip>Email address - must be a valid email address</md-tooltip>
                    <input type="email" name="emailaddress" ng-model="controller.emailaddress" required="" />
                    <div ng-messages="Form.emailaddress.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Please enter your email address.</div>
                    </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                    <label>Phone Number</label>
                    <md-tooltip>Enter phone number (xxx) xxx-xxxx</md-tooltip>
                    <input type="phone" name="phonenumber" ng-model="controller.phonenumber" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" required="" />
                    <div ng-messages="Form.phonenumber.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Please enter your phone number.</div>
                        <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                    </div>
                    </md-input-container>

                    <div>
                        <md-button ng-disabled="Form.$invalid && Form.$pristine" ng-click="controller.updateProfile()" class="my-btn md-raised md-primary">&nbsp Update &nbsp</md-button>
                        <a ng-if="controller.isAdmin()" ui-sref="Admin" class="btn btn-link" style="padding:2px">
                            <md-tooltip md-direction="top">Perform Admin Functions</md-tooltip>
                            <md-button class="my-btn md-primary md-raised" style="background-color:fuchsia">Admin</md-button>
                        </a>
                        <a ui-sref="ChangePassword" class="btn btn-link" style="padding:2px">
                            <md-tooltip md-direction="top">Change your Password</md-tooltip>
                            <md-button class="my-btn md-primary md-raised" style="background-color:red">Password</md-button>
                        </a>
                        
                        <a ui-sref="HomeLoggedIn" class="btn btn-link" style="padding:2px">
                            <md-button class="my-btn md-primary md-flat"><i class="material-icons">home</i></md-button>
                        </a>
                    </div>
                </form>
                <p class="form-error-msg">{{controller.message}}</p>
            </md-card-content>  
        </md-card>   
    </md-content>
</div>
