
<md-content ng-app="RiderTracker" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="register-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>Rider Tracker Registration</span></h2>
        </div>
        </md-toolbar>
          <md-card-content>
            <form name="Form">
              <md-input-container class="md-block">
                <label>Username</label>
                <input type="text" name="username" ng-model="controller.username" required="" md-maxlength="50"/>
                <div ng-messages="Form.username.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your username.</div>
                    <div ng-message="md-maxlength" class="my-message">Username is too long.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>First Name</label>
                <input type="text" name="firstname" ng-model="controller.firstname"  required="" md-maxlength="30"/>
                <div ng-messages="Form.firstname.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your first name.</div>
                    <div ng-message="md-maxlength" class="my-message">First name is too long.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Last Name</label>
                <input type="text" name="lastname" ng-model="controller.lastname"  required="" md-maxlength="30"/>
                <div ng-messages="Form.lastname.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your last name.</div>
                    <div ng-message="md-maxlength" class="my-message">Last name is too long.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Email Address</label>
                <input type="email" name="emailaddress" ng-model="controller.emailaddress" required="" />
                <div ng-messages="Form.emailaddress.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your email address.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Phone Number</label>
                <input type="phone" name="phonenumber" ng-model="controller.phonenumber"  required="" />
                <div ng-messages="Form.phonenumber.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your phone number.</div>
                </div>
               </md-input-container>

              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="password" ng-model="controller.password"  required="" md-maxlength="50"/>
                <div ng-messages="Form.password.$error" role="alert" multiple="">
                  <div ng-message="required" class="my-message">Please enter your password.</div>
                  <div ng-message="md-maxlength" class="my-message">Password is too long.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                    <label>Confirming Password</label>
                    <input type="password" name="confirmingpassword" ng-model="controller.confirmingpassword"  required="" md-maxlength="50"/>
                    <div ng-messages="Form.confirmingpassword.$error" role="alert" multiple="">
                      <div ng-message="required" class="my-message">Please enter your password.</div>
                      <div ng-message="md-maxlength" class="my-message">Password is too long.</div>
                    </div>
                  </md-input-container>
              <div>
                <md-button ng-disabled="!Form.$valid" ng-click="controller.register()" class="md-raised md-primary">&nbsp Submit &nbsp</md-button>
                <a ui-sref="Login" class="btn btn-link">Login</a>
              </div>
            </form>
            <p class="form-error-msg">{{controller.message}}</p>
          </md-card-content>
        </md-card>
      </md-content>
