<!DOCTYPE html>
<html ng-app="RiderTracker">

<head>
  <title>Rider Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body ng-cloak>
  <div class="container" ng-controller="navController as nav" ng-cloak>
    <md-fab-toolbar md-direction="right">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
          <md-tooltip md-direction="bottom">Expand Menu</md-tooltip>
        <md-icon style="display: unset; color:white"><i class="material-icons">directions_bike</i></md-icon>
      </md-button>
    </md-fab-trigger>
      <md-toolbar color="primary"> 
        <md-fab-actions class="md-toolbar-tools">
          <md-button ng-if="!nav.isAuthenticated()" ng-click="nav.goToPage('/')" class="nav-btn ">RiderTracker</md-button>
          <md-button ng-if="nav.isAuthenticated()"  ng-click="nav.goToPage('/HomeLoggedIn')" class="nav-btn ">Track</md-button>
          <md-button ng-if="nav.showNormalMode()"   ng-click="nav.goToPage('/Rides')" class="nav-btn  ">Rides</md-button>
          <md-button ng-if="nav.showNormalMode()"   ng-click="nav.goToPage('/Following')" class="nav-btn ">Follow</md-button>
          <md-button ng-if="!nav.isAuthenticated()" ng-click="nav.goToPage('/Login')" class="nav-btn  ">Login</md-button>
          <md-button ng-if="nav.showNormalMode()"   ng-click="nav.goToPage('/Profile')" class="nav-btn t ">Welcome {{nav.getName()}}</md-button>
          <md-button ng-if="nav.showNormalMode()"   ng-click="nav.logout()" class="nav-btn ">Logout</md-button>
        </md-fab-actions>
      </md-toolbar>
    </md-fab-toolbar> 
        <hr />

        <ui-view></ui-view>
  </div>
  <script src="/ngApp/bundle.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAAqE6Je12iy7tuF0b5dJ0qU_gPGRjt_FQ'></script>
</body>

</html>
