<!DOCTYPE html>
<html ng-app="RiderTracker">

<head>
  <title>Rider Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>
  <div class="container" ng-controller="navController as nav">
    <md-toolbar color="primary"> 
      <div class="md-toolbar-tools">
        <a ng-if="!nav.isAuthenticated()" ui-sref="Home" class="md-button">RiderTracker</a>
        <a ng-if="nav.isAuthenticated()" ui-sref="HomeLoggedIn" class="md-button">Track</a>
        <a ng-if="nav.isAuthenticated()" ui-sref="Rides" class="md-button">Rides</a>
        <a ng-if="nav.isAuthenticated()" ui-sref="Following" class="md-button">Follow</a>
        <!--
        <a ng-if="nav.isAdmin()" ui-sref="Admin" class="md-button">Admin</a>
        -->
        <span style="1 1 auto"></span>
        <a ng-if="!nav.isAuthenticated()" ui-sref="Login" class="md-button">Login</a>
        <a ng-if="nav.isAuthenticated()" ui-sref="Profile" class="md-button">Welcome {{nav.getName()}}</a>
        <a ng-if="nav.isAuthenticated()" ng-click="nav.logout()" class="md-button">Logout</a>
      </div>
    </md-toolbar>
        <hr />

        <ui-view></ui-view>
  </div>
  <script src="/ngApp/bundle.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAAqE6Je12iy7tuF0b5dJ0qU_gPGRjt_FQ'></script>
</body>

</html>
