<!DOCTYPE html>
<html ng-app="RiderTracker">

<head>
  <title>Rider Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body ng-cloak>
  <div class="container" ng-controller="navController as nav" ng-cloak>
    <md-fab-toolbar md-direction="right">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
          <md-tooltip md-direction="bottom">Expand Menu</md-tooltip>
        <md-icon style="display: unset; color:white"><i class="material-icons">directions_bike</i></md-icon>
      </md-button>
    </md-fab-trigger>
      <md-toolbar color="primary"> 
        <md-fab-actions class="md-toolbar-tools">
          <a ng-if="!nav.isAuthenticated()" ui-sref="Home" class="nav-btn md-button">RiderTracker</a>
          <a ng-if="nav.isAuthenticated()" ui-sref="HomeLoggedIn" class="nav-btn md-button">Track</a>
          <a ng-if="nav.showNormalMode()" ui-sref="Rides" class="nav-btn md-button">Rides</a>
          <a ng-if="nav.showNormalMode()" ui-sref="Following" class="nav-btn md-button">Follow</a>
          <a ng-if="!nav.isAuthenticated()" ui-sref="Login" class="nav-btn md-button">Login</a>
          <a ng-if="nav.showNormalMode()" ui-sref="Profile" class="nav-btn md-button">Welcome {{nav.getName()}}</a>
          <a ng-if="nav.showNormalMode()" ng-click="nav.logout()" class="nav-btn md-button">Logout</a>
        </md-fab-actions>
      </md-toolbar>
    </md-fab-toolbar> 
        <hr />

        <ui-view></ui-view>
  </div>
  <script src="/ngApp/bundle.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAAqE6Je12iy7tuF0b5dJ0qU_gPGRjt_FQ'></script>
</body>

</html>
