.login-form {
    md-card {
      padding: 0!important;
  
      md-card-title {
        background-color: blue;
      }
    }
  }

  .register-form {
    md-card {
      padding: 0!important;
  
      md-card-title {
        background-color: blue;
      }
    }
  }
  
  .form-error-msg {
    color: red;
  }

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

 .vrepeatContainer #vertical-container {
    height: 202px;
    width: 400px; 
 }

 .vrepeatContainer .repeated-item-vertical {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px;
 }

 .vrepeatContainer md-content {
    margin: 16px; 
 }
 
 .vrepeatContainer md-virtual-repeat-container {
    border: solid 1px grey; 
 }	  

 .Attendee-th, .Attendee-td {
  border: 1px solid black;
  text-align:center; 
  vertical-align:middle;
}

.Attendee-table {
  width: 80%;
  align-content : center;
  border: 1px solid black;
  text-align:center; 
  vertical-align:middle;
}

.ride-td {
  text-align:left; 
  vertical-align:middle;
}

.ride-table {
  width: 100%;
  align-content : left;
  text-align:left; 
  vertical-align:middle;
}

.following-td {
  text-align:left; 
  vertical-align:middle;
}

.following-table {
  width: 80%;
  align-content : left;
  text-align:left; 
  vertical-align:middle;
}

.follower-td {
  text-align:left; 
  vertical-align:middle;
}

.follower-table {
  width: 80%;
  align-content : left;
  text-align:left; 
  vertical-align:middle;
}